.idea/
components/node_modules/
components/dist/
components/public/
=======
# Grunt and other node.js stuff
.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
#.idea/
app-js-common/
app-js-x/
*.min.js.map

# Bower
.bower-*/
bower-vendor/
vendor-bower/

components/webpack/config/public/skins-build/
components/webpack/config/public/
/app/node_modules/eas-react-components
app/EAssessment.Web/assets/
app/.happypack/
app/EAssessment.Web/components-public/

/app/EAssessment.UI.Common/sandbox/*

/app/.idea
/app/EAssessment.Web/common
/app/EAssessment.Web/author
/app/EAssessment.Web/delivery
/app/EAssessment.Web/proctoring
/app/EAssessment.Web/public
/app/EAssessment.Web/index.html
/app/EAssessment.Web/fallback.html
/app/EAssessment.Web/site-entry.html
/app/EAssessment.Web/saml-login.html
/app/EAssessment.Web/404.html
/app/EAssessment.Web/500.html
/app/EAssessment.Web/config.js
/app/EAssessment.Web/*.bundle.js
/app/EAssessment.Web/*.bundle.js.map
/app/EAssessment.Web/*.chunk.css
/app/EAssessment.Web/*.chunk.css.map
/app/EAssessment.Web/*.worker.js
/app/EAssessment.Web/*.worker.js.map
/app/EAssessment.Web/*.bundle.js.LICENSE.txt
/app/EAssessment.Web/*.worker.js.LICENSE.txt
/app/vendor-bower
/app/node_modules
/app/stats.json

/app/config.json

/app/prettier_log.txt